# Environments

# Mapping to hosts
# development = localhost
# test = test.example.org
# qa = qa.example.org
# production = www.example.org
map $http_host $port {
    default 9999;
    localhost 8543;
    test.example.org 8643;
    qa.example.org 8443;
    www.example.org 443;
}

# Mapping to context path
map $http_host $context {
    default /unknown/;
    localhost /app/;
    test.example.org /app/;
    qa.example.org /app/;
    www.example.org /app/;
}

server {

    listen 80 default_server;
    listen 8080;
    server_name _;

    root /usr/share/nginx/html;

    location /.well-known/acme-challenge/ {
        root /usr/share/nginx/certbot;
    }

    location = / {
        return 301 https://$host:$port$context;
    }
    location / {
        return 301 https://$host:$port$request_uri;
    }

}
